* {
    box-sizing: border-box;
}

.TextoN {
    color: #121927;
}

.subtitulo {
    color: #20A85E;
}

.panel-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 15px;
    width: 100vw;
    min-height: 80vh;
    max-height: 100vh;
    box-sizing: border-box;
}

.panel-grid {
    display: flex;
    gap: 20px;
    width: 100%;
}

.panel-main {
    flex: 1;
    max-width: 95vw;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* BOTONES ACCESO RAPIDO */
.quick-actions {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.quick-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .quick-card .MuiCardContent-root {
        padding: 10px !important;
    }

.tutorias-recientes-list {
    max-height: 20vh;
    overflow-y: auto;
    margin-top: 10px;
}

.tutoria-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    background-color: #fff;
}

.tutoria-iz {
    flex: 1;
    display: flex;
    align-items: center;
}

.tutoria-der {
    width: 120px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    word-wrap: break-word;
}

.tutoria-der-col {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    gap: 2px;
}

.TutoriasAsig .tutoria-item {
    border-left: 15px solid #ff6a00;
}

.tutorias-recientes-list .tutoria-item {
    border-left: 15px solid #22d47b;
}

/* movil */
@media (max-width: 768px) {

    .panel-container {
        padding: 0 20px;
    }

    .panel-grid {
        flex-direction: column;
    }

    .quick-actions {
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
    }
}
